/*
1. header
2. main
3. footer
4. helpers#c1cfe4
5. media 1280px
*/

/* 1. header */


/* 2.main */
.auth-block {
	position: static;
	border-radius: 60px;
	width: 55%;
	min-width: fit-content;
	height: fit-content;
	min-height: 500px;
	margin: 40px auto 20px auto;
	background-color: #e8eff9;
	box-shadow:
	  0px 0px 0px #c2d0e3, /* Основная тень */
	  0 0 10px #c2d0e3, /* Убираем тень справа */
	  0 0 10px #c2d0e3, /* Убираем тень слева */
	  0 0 90px #c2d0e3, /* Убираем тень снизу */
	  0 0 90px #c2d0e3; /* Убираем тень сверху */
  }

.auth-block-text{
	position: relative;
	color: #617492;
	margin-top: 20px;
  	left: 50%;
  	transform: translate(-50%);
}
.auth-block-text h4{
	padding-top: 40px;
	text-align: center;
	margin: 0;
	font-family: 'rubick-light', Georgia, serif;
}
.auth-block-text p{
	padding-bottom: 20px;
	text-align: center;
	margin: 0;
	font-family: 'rubick-regular', 'courier new', sans-serif;
	font-weight: bold;
}

.block-registration {
    width: fit-content;
	margin: 10px auto;
	position: relative;
	display: flex;
}
.block-registration img {
	padding: 0;
	margin: 0;
	height: 330px;
	width: 330px;
}

.form-auth {
	margin-left: 40px;
	margin-top: 20px;
	max-width: 280px;
}

.form-input {
	cursor: pointer;
	background-color: #c5d2e2;
	border: none;
	border-radius: 30px;
	padding: 17px 40px;
	margin-top: 5px;
	width: -webkit-fill-available;
	color: #617492;
	font-size: 15px;
	font-family: 'rubick-regular', 'courier new', sans-serif;
	-webkit-transition-duration: 0.3s; /* Safari */
  	transition-duration: 0.3s;
}
.form-input:focus {
	outline: none;
	box-shadow: inset 0 0 0 3px #617492;
}
.form-input::placeholder{
	color: #617492;
}

.form-button-go {
	margin-top: 20px;
	background-color: #4f6384;
	color: #ffffff;
	width: 99%;
}
.form-button-reg {
	margin-top: 10px;
	background-color: #ffffff;
	width: 99%;
}

.a-href {
	display: block;
    width: fit-content;
	margin: 40px auto 30px auto;
	text-decoration: none;
	text-align: center;
	color: #617492;
	font-size: 14px;
	font-family: 'rubick-light', Georgia, serif;
	-webkit-transition-duration: 0.3s; /* Safari */
	transition-duration: 0.3s;
}
.a-href:hover {
	color: #a3abbb;
}

.auth-slide {
	width: 99%;
}



/* 3. footer */
footer {
	position: relative;
	width: 100%;
	overflow: hidden;
}
footer p{
	text-align: center;
	color: #617492;
	font-size: 12px;
	font-family: 'rubick-light', Georgia, serif;
}

.block-footer {
	margin: auto;
	width: fit-content;
	display: block;
}
.block-footer a {
	margin-left: 40px;
	font-weight: bold;
	font-size: 14px;
	font-family: 'rubick-regular', Georgia, serif;
	text-decoration: none;
	color: #617492;
	-webkit-transition-duration: 0.3s; /* Safari */
	transition-duration: 0.3s;
}
.block-footer a:hover {
	color: #a3abbb;
}



/* 4. helpers */
html, body {
	min-height: 100%;
	min-width: 100%;
	margin: 0;
	background-color: #dbe6f4;
}

@font-face {
	font-family: 'rubick-light';
	src: url('../fonts/Rubik-Light.ttf');
}

@font-face {
	font-family: 'rubick-regular';
	src: url('../fonts/Rubik-Regular.ttf'); 
}




/* 5. media 1280px */
@media all and (max-width: 1280px) {
	.auth-block {
		top: 45%;
		padding: 0 30px;
	}
	.block-registration img {
		height: 300px;
		width: 300px;
	}
	
	.form-auth {
		margin-left: 40px;
		margin-top: 20px;
	}
	
	.form-input {
		padding: 13px 25px;
		margin-top: 5px;
		font-size: 15px;
	}

	.form-button-go {
		margin-top: 20px;
	}
	.form-button-reg {
		margin-top: 10px;
	}

}

/* 5. media 900px */
@media all and (max-width: 900px) {
	.auth-block {
		width: 85%;
	}
	.block-registration img {
		height: 250px;
		width: 250px;
	}
	
	.form-auth {
		margin-left: 30px;
		max-width: 200px;
	}
	
	.form-input {
		padding: 11px 20px;
		margin-top: 5px;
		font-size: 14px;
	}

	.form-button-go {
		margin-top: 15px;
	}
	.form-button-reg {
		margin-top: 8px;
	}
	
}

/* 5. media 480px */
@media all and (max-width: 480px) {
	.auth-block {
		width: 85%;
		padding: 0 0;
	}
	.auth-block-text{
		width: 90%;
	}

	.block-registration img {
		display: none;
	}
	
	.form-auth {
		margin-left: 0;
		max-width: 250px;
		min-width: 90%;
	}
	
	.form-input {
		padding: 17px 38px;
		margin-top: 5px;
		font-size: 15px;
	}

	.form-button-go {
		margin-top: 15px;
	}
	.form-button-reg {
		margin-top: 8px;
	}

	footer {
		margin-top: 25px;
	}

	.block-footer a {
		display: block;
		margin: 10px 0 0 0;
		text-align: center;
	}
}

/* 6. media height 700px */
@media all and (max-height: 600px) {
	.auth-block {
		margin-top: 20px;
		margin-bottom: 50px;
	}
}