/*
1. header
2. main
3. footer
4. helpers#c1cfe4
5. media 1280px
*/

/* 1. header */
header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
  }
  
  .block-header {
	height: fit-content;
	margin: 30px auto;
	display: flex;
  }

.header-img {
	display: flex;
	float: left;
}
.header-img img {
	background-color: #e8eff9;
	border-radius: 100%;
	margin: auto 5px;
	
}
.img-header-set {
	width: 30px;
	height: 30px;
	padding: 10px;
	cursor: pointer;
	transition: transform 0.5s ease-in-out;
}
.img-header-ava {
	width: 80px;
	height: 80px;
}

.header-text {
	position: static;
	color: #617492;
	text-align: center;
	padding: 20px 90px;
	background-color: #e8eff9;
	border-radius: 60px;
	font-size: 15px;
	margin: 0 30px;
	clear: both;
	line-height: 1.5;
}
.header-text h4{
	margin: 0;
	font-weight: lighter;
	font-family: 'rubick-light', Georgia, serif;
}
.header-text p{
	margin: 0;
	font-family: 'rubick-regular', 'courier new', sans-serif;
	font-weight: bold;
}

.header-tools {
	display: flex;
	float: left;
	background-color: #e8eff9;
	border-radius: 60px;
	margin: auto 0;
	height: fit-content;
	padding: 5px 2px;

}
.header-tools img {
	width: 25px;
	height: 25px;
	cursor: pointer;
}

.timetable-btn {
	margin: auto 5px;
	padding: 10px 12px;
	border-radius: 50px;
	transition: transform 0.5s ease-in-out;
}

.timetable-btn img {
	transition: filter 0.3s ease; /* Добавим анимацию для плавного изменения фильтра */
}

.active-timetable-btn {
	background-color: #4f6384;
}

.timetable-edit-btn {
	margin: 0 5px 0 0px;
	padding: 10px 12px;
}

.smaller-width {
	display: none;
}



/* 2.main */
.auth-block {
	position: static;
	border-radius: 60px;
	width: 55%;
	min-width: fit-content;
	height: fit-content;
	min-height: 500px;
	margin: 40px auto 20px auto;
	background-color: #e8eff9;
	box-shadow:
	  0px 0px 0px #c2d0e3, /* Основная тень */
	  0 0 10px #c2d0e3, /* Убираем тень справа */
	  0 0 10px #c2d0e3, /* Убираем тень слева */
	  0 0 90px #c2d0e3, /* Убираем тень снизу */
	  0 0 90px #c2d0e3; /* Убираем тень сверху */
  }

.auth-block-text{
	position: relative;
	color: #617492;
	margin-top: 20px;
  	left: 50%;
  	transform: translate(-50%);
}
.auth-block-text h4{
	padding-top: 40px;
	text-align: center;
	margin: 0;
	font-family: 'rubick-light', Georgia, serif;
}
.auth-block-text p{
	padding-bottom: 20px;
	text-align: center;
	margin: 0;
	font-family: 'rubick-regular', 'courier new', sans-serif;
	font-weight: bold;
}

.block-registration {
    width: fit-content;
	margin: 10px auto;
	position: relative;
	display: flex;
}
.block-registration img {
	padding: 0;
	margin: 0;
	height: 330px;
	width: 330px;
}

.form-auth {
	margin-left: 40px;
	margin-top: 20px;
	max-width: 280px;
}

/* Отключение стилей для автозаполнения */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #c5d2e2 inset !important;
  -webkit-text-fill-color: initial !important;
}

.form-input, .buttons input {
	cursor: pointer;
	background-color: #c5d2e2;
	border: none;
	border-radius: 30px;
	padding: 17px 40px;
	margin-top: 5px;
	width: -webkit-fill-available;
	color: #617492;
	font-size: 15px;
	font-family: 'rubick-regular', 'courier new', sans-serif;
	-webkit-transition-duration: 0.3s; /* Safari */
  	transition-duration: 0.3s;
}
.form-input:focus, .buttons input:focus {
	outline: none;
	box-shadow: inset 0 0 0 3px #617492;
}
.form-input::placeholder, .buttons input::placeholder{
	color: #617492;
}

.form-button-go {
	margin-top: 20px;
	background-color: #4f6384;
	color: #ffffff;
	width: 99%;
}
.form-button-reg {
	margin-top: 10px;
	background-color: #ffffff;
	width: 99%;
}

.a-href {
	display: block;
    width: fit-content;
	margin: 40px auto 30px auto;
	text-decoration: none;
	text-align: center;
	color: #617492;
	font-size: 14px;
	font-family: 'rubick-light', Georgia, serif;
	-webkit-transition-duration: 0.3s; /* Safari */
	transition-duration: 0.3s;
}
.a-href:hover {
	color: #a3abbb;
}

.auth-slide {
	width: 99%;
}

.main-block {
	display: flex;
	box-shadow: none;
	margin: 0 auto 20px auto;
	min-height: 0;
}

.account {
	padding: 40px;
}
.account h3 {
	display: block;
	padding: 10px 0;
	margin: 0 0 20px 0;
	background-color: #dbe6f4;
	text-align: center;
	color: #617492;
	font-size: 22px;
	font-weight: 500;
	font-family: 'rubick-light', Georgia, serif;
	border-radius: 50px;
}

.timetable {
	display: flex;
}

.block-timetable {
	margin: 0 auto;
}

.block-timetable-second {
	margin-left: 20px;
}

.block-timetable-subject {
	display: flex;
	border: none;
	background-color: #dbe6f4;
	padding: 10px 13px;
	margin-top: 5px;
	border-radius: 20px;
	min-width: 200px;
	max-width: 250px;
	text-align: left;
	color: #617492;
	font-size: 10px;
	font-family: 'rubick-regular', Georgia, serif;
	cursor: pointer;
	-webkit-transition-duration: 0.3s; /* Safari */
	transition-duration: 0.3s;
}
.block-timetable-subject:hover {
	background-color: #c8cfdd;
}

.block-timetable-subject p {
	margin: 0;
	padding: 0;
	line-height: 1.1;
	white-space: pre-line;
}
.information-sub-timetable {
	min-width: 110px;
	max-width: 30%;
}
.information-sub-timetable div {
	background-color: #4f6384;
	font-family: 'rubick-light', Georgia, serif;
	color: #fff;
	border-radius: 15px;
	padding: 3px 10px;
	margin-left: 5px;
	margin-bottom: 5px;
	width: fit-content;
	text-align: center;
	align-items: center;
	float: right;
}

.day-of-week-timetbl {
	display: block;
	border: none;
	padding: 10px 15px;
	width: 100%;
	margin-top: 5px;
	border-radius: 50px;
	text-align: left;
	font-size: 10px;
	background-color: #4f6384;
	color: white;
	cursor: default;
	font-weight: lighter;
	font-family: 'rubick-light', Georgia, serif;
}

.block-timetable-subject-inform {
	width: 100%;
}

.datepicker {
	align-items: center;
	background-color: #4f6384;
	margin: 40px  40px 40px 0;
	height: fit-content;
	width: 300px;
	border-radius: 27px;
}
.btn-calendar {
	margin: 0 5px 5px 5px;
	padding: 13px 0;
	background-color: #dbe6f4;
	font-size: 14px;
}


.block-list-subject {
	padding: 40px;
	width: fit-content;
}
.info-subject {
	display: flex;
}
.info-subject div {
	background-color: #dbe6f4;
	color: #4f6384;
	border-radius: 50px;
	padding: 13px 20px;
	margin-right: 5px;
	cursor: default;
	font-size: 12px;
	font-family: 'rubick-light', Georgia, serif;
}

.inner-shadow {
	position: relative;
  	overflow: hidden;
  }

.list-subject {
	margin-top: 20px;
	padding-right: 5px;
  	height: 330px;
  	overflow: auto;
	z-index: 2;
  }

.inner-shadow::before {
	content: "";
  	position: absolute;
  	bottom: 0;
  	left: 0;
  	width: 100%;
  	height: 30px;
  	background: linear-gradient(to bottom, transparent 0%, #e8eff9 100%);
}
.info-subject .name-subject {
	background-color: #4f6384;
	color: #dbe6f4;
	max-width: 200px;
	padding: 13px 30px;
	text-align: center;
}
.list-subject input {
	padding: 0 25px 0 25px;
	text-align: left;
	background-color: #dbe6f4;
	font-size: 12px;
	height: 50px;
	display: block;
	width: 100%;
	max-width: 400px;
	white-space: pre-line;
}

.block-graph {
	padding: 40px;
	width: 400px;
}
.block-graph-img {
	background-color: #dbe6f4;
	width: 20px;
	height: 20px;
	padding: 10px 15px;
	border-radius: 50px;
	cursor: pointer;
}
.hours-subject {
	margin-left: 10px;
	padding: 0 40px;
	border-radius: 50px;
	text-align: center;
	vertical-align: middle;
	background-color: #4f6384;
	color: #fff;
	font-size: 12px;
	font-weight: lighter;
	font-family: 'rubick-light', Georgia, serif;
}

.graph img {
	width: 100%;
	margin: auto;
	margin: 0;
	padding: 0;
}

.main-block-journal {
	box-shadow: none;
	margin: 0 auto 20px auto;
	min-height: fit-content;
	display: block;
	padding: 20px 40px;
}
.journal-btns {
	padding: 0px 20px 0 20px;
	margin: auto;
	width: fit-content;
}
.journal-btns input{
	vertical-align: middle;
	width: fit-content;
	padding: 0 18px;
	font-size: 10px;
	background-color: #dbe6f4;
	height: 32px;
	margin: 5px auto 0 0;
}
.journal-btns .name-theme {
	font-family: 'rubick-light';
	font-weight: lighter;
	padding: 0 20px 0 20px;
	background-color: #4f6384;
	text-align: left;
    max-width: 250px;
	color: #fff;
	white-space: pre-line;
}
#journal-btn-homework {
	white-space: pre-line;
}
.journal-btns .journal-prev {
	background-color: #4f6384;
	width: 50px;
  	background-image: url('../images/arrow.svg');
  	background-repeat: no-repeat;
  	background-size: 13px 13px; /* Размер изображения */
  	background-position: center; /* Позиция изображения внутри инпута */
}.journal-btns .journal-settings {
	width: 50px;
  	background-image: url('../images/settings.svg');
  	background-repeat: no-repeat;
  	background-size: 20px 20px; /* Размер изображения */
  	background-position: center; /* Позиция изображения внутри инпута */
}
.block-journal {
	padding: 0 20px 0 20px;
	width: fit-content;
	position: relative;
	margin: auto;
}
.journal {
	padding: 0;
	margin: 0;
	width: 593px;
	overflow: auto;
}
.journal table {
	border-collapse: separate;
	border-spacing: 8px;
	empty-cells: show;
	font-size: 10px;
	color: #617492;
	font-size: 11px;
	font-family: 'rubick-regular', Georgia, serif;
}
.journal td {
	background-color: #dbe6f4;
	width: fit-content;
	border-radius: 50px;	
	min-width: 25px;
	height: 25px;
}
.journal th {
	background-color: #dbe6f4;
	width: fit-content;
	border-radius: 50px;	
	min-width: 25px;
	height: 25px;
}
.table-fio {
	border-spacing: 0px;
	min-width: 150px !important;
	width: fit-content !important;
	padding: 0 15px;
	text-align: left;
}
.journal input {
	outline: none;
	width: 25px;
    height: 25px;
	border-radius: 50px;
	border: none;
    padding: 0;
    text-align: center;
    background-color: #dbe6f4;
    color: #617492;
	font-size: 11px;
	font-family: 'rubick-regular', Georgia, serif;
	cursor: pointer;
	-webkit-transition-duration: 0.3s; /* Safari */
	transition-duration: 0.3s;
}
.journal input:hover {
	background-color: #c8cfdd;
}
.journal input:focus {
	outline: none;
	box-shadow: inset 0 0 0 1.5px #617492;
}

.list-settings {
	overflow: hidden;
	width: 100%;
}

.item-settings-list {
	background-color: #DBE6F4;
	border-radius: 100px;
	margin: 10px 15px;
	padding: 20px 30px;
	cursor: pointer;
	-webkit-transition-duration: 0.3s; /* Safari */
	transition-duration: 0.3s;
}
.item-settings-list:hover {
	background-color: #c2d0e3;
}
.list-settings .item-settings-list p,h3 {
	margin: 0;
	color: #4f6384;
	font-family: 'rubick-regular', Georgia, serif;
}

.list-settings .item-settings-list h3{
	font-size: 16px;
}


.list-settings .item-settings-list p{
	font-size: 14px;
	font-family: 'rubick-light', Georgia, serif;
}




/* 3. footer */
footer {
	position: relative;
	width: 100%;
	overflow: hidden;
}
footer p{
	text-align: center;
	color: #617492;
	font-size: 12px;
	font-family: 'rubick-light', Georgia, serif;
}

.block-footer {
	margin: auto;
	width: fit-content;
	display: block;
}
.block-footer a {
	margin-left: 40px;
	font-weight: bold;
	font-size: 14px;
	font-family: 'rubick-regular', Georgia, serif;
	text-decoration: none;
	color: #617492;
	-webkit-transition-duration: 0.3s; /* Safari */
	transition-duration: 0.3s;
}
.block-footer a:hover {
	color: #a3abbb;
}



/* 4. helpers */
html, body {
	height: 100%;
	min-width: 100%;
	margin: 0;
	background-color: #dbe6f4;
}

@font-face {
	font-family: 'rubick-light';
	src: url('../fonts/Rubik-Light.ttf');
}

@font-face {
	font-family: 'rubick-regular';
	src: url('../fonts/Rubik-Regular.ttf'); 
}

:root {
	--fc-small-font-size: 10px;
	--fc-page-bg-color: transparent;
	--fc-neutral-bg-color: transparent;
	--fc-neutral-text-color: #808080;
	--fc-border-color: transparent;
  
	--fc-button-text-color: #fff;
	--fc-button-bg-color: transparent;
	--fc-button-border-color: transparent;
	--fc-button-hover-bg-color: transparent;
	--fc-button-hover-border-color: transparent;
	--fc-button-active-bg-color: transparent;
	--fc-button-active-border-color: transparent;
}

.fc-col,
.fc-day,
.fc-day-top,
.fc-day-header,
.fc-day-grid,
.fc-widget-content,
.fc-scrollgrid-liquid {
    border: none !important;
    box-sizing: border-box !important;
}

.fc {
	text-align: center;
	width: 90%;
	height: 90%;
	margin: 20px auto;
	font-size: 10px;
	color: white;
	font-family: 'rubick-light', Georgia, serif;
	table-layout: fixed;
}
.fc table {
	border-spacing: 5px;
	padding: none !important;
}
.fc .fc-daygrid-day-number{
	position: relative;
	padding: 12px 5px !important;
}
.fc-daygrid-day-top{
	position: relative;
	display: flex;
  	align-items: center;
  	justify-content: center;
	width: 100%;
	height: fit-content;
}

.fc-scroller {
	overflow: hidden !important;
}

.fc .fc-daygrid-day.fc-day-today {
    border-radius: 50px;
	background-color: #e8eff9;
	color: #4f6384;
}
.fc-daygrid-day.fc-day {
    direction: ltr; /* Устанавливаем выравнивание текста влево */
}
.fc-daygrid-day-number {
	font-size: 10px;
	width: 100%;
	height: 100%;
    position: relative;
    z-index: 4;
}
.fc .fc-col-header-cell-cushion {
	font-size: 10px;
	text-align: center;
}
.fc .fc-button .fc-icon {
	font-size: 10px;
	
}
.fc .fc-toolbar-title {
	font-size: 10px;
	font-weight: lighter;
}
.fc-daygrid-day-events {
    display: none;
}
.fc .fc-view-harness {
	min-height: 215px;
	min-width: 215px;
}
.fc-col {
	width: 14.2857% !important; /* 100% / 7 дней в неделе */
}


.selected-day {
    border-radius: 50px;
    background-color: #a4b7d0;
    color: #4f6384;
}
.fc, .fc * {
	box-sizing: border-box;
  }
  
  .fc, .fc-view, .fc-content {
	height: 100%;
  }
  
  .fc-day {
	cursor: pointer;
	text-align: center;
	position: relative;
  }
  
  .fc-day-top, .fc-day-header {
	text-align: center;
  }
  
  .fc-day, .fc-day-top, .fc-day-header, .fc-widget-content {
	border: none !important;
  }
  
  .selected-day {
	border-radius: 50px;
	background-color: #a4b7d0;
	color: #4f6384;
  }

  ::-webkit-scrollbar {
	border-radius: 10px;
	width: 5px;
	height: 5px;
	background-color: #f9f9fd;
  }
  
  ::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #4f6384;
  }
  
  ::-webkit-scrollbar-track {
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); */
	border-radius: 10px;
	background-color: #dbe6f4;
  }

  br {
	display: block;
	content: "";
	margin: 0;
	padding: 0;
  }



/* 5. media 1280px */
@media all and (max-width: 1280px) {
	.auth-block {
		padding: 0 20px;
	}
	.main-block-journal {
		padding: 20px 40px;
	}
	.block-registration img {
		height: 300px;
		width: 300px;
	}
	
	.form-auth {
		margin-left: 40px;
		margin-top: 20px;
	}
	
	.form-input {
		padding: 13px 25px;
		margin-top: 5px;
		font-size: 15px;
	}

	.form-button-go {
		margin-top: 20px;
	}
	.form-button-reg {
		margin-top: 10px;
	}

	.item-settings-list {
		margin: 10px 0;
	}

}

/* 5. media 900px */
@media all and (max-width: 900px) {
	.auth-block {
		width: 85%;
	}
	.block-registration img {
		height: 250px;
		width: 250px;
	}
	
	.form-auth {
		margin-left: 30px;
		max-width: 200px;
	}
	
	.form-input {
		padding: 11px 20px;
		margin-top: 5px;
		font-size: 14px;
	}

	.form-button-go {
		margin-top: 15px;
	}
	.form-button-reg {
		margin-top: 8px;
	}

	.main-block {
		display: block;
		width: 90%;
		padding: 0 20px 20px 20px;
	}

	.account {
		padding: 40px 0 0 0;
	}

	.datepicker {
		padding: 10px 0 0 0;
		margin: 20px auto 20px auto;
		width: 90%;
	}

	.header-text {
		margin-top: 20px;
	}

	.bigest-width {
		display: none;
	}
	.smaller-width {
		display: block;
	}
	
	.header-tools {
		margin: auto 0 auto 60px;
	}
	.block-list-subject, .block-graph {
		margin: auto;
	}

	/* .main-block-journal {
		display: block;
		width: fit-content;
	} */
	.journal {
		width: 400px;
	}
}

/* 5. media 480px */
@media all and (max-width: 480px) {
	.auth-block {
		width: 85%;
		padding: 0 0;
		margin-bottom: 50px;
	}
	.auth-block-text{
		width: 90%;
	}

	.block-registration img {
		display: none;
	}
	
	.form-auth {
		margin-left: 0;
		max-width: 250px;
		min-width: 90%;
	}
	
	.form-input {
		padding: 17px 38px;
		margin-top: 5px;
		font-size: 15px;
	}

	.form-button-go {
		margin-top: 15px;
	}
	.form-button-reg {
		margin-top: 8px;
	}

	footer {
		margin-top: 25px;
	}

	.block-footer a {
		display: block;
		margin: 10px 0 0 0;
		text-align: center;
	}

	.header-text {
		padding: 20px 20px;
		width: 85%;
		margin: auto;
		margin-top: 20px;
	}

	.header-tools {
		margin: auto 0 auto 10px;
	}

	.main-block {
		display: block;
		width: 90%;
		padding: 0 10px 10px 10px;
	}

	.account {
		padding: 40px 0 0 0;
		margin: 0 auto;
		width: 90%;
	}

	.timetable {
		display: block;
	}

	.block-timetable{
		margin: 0;
	}
	.block-timetable-second {
		margin-top: 20px;
	}

	.block-timetable-subject {
		max-width: none;
	}

	.account h3 {
		font-size: 14px;
	}

	.info-subject {
		display: block;
	}
	.info-subject div {
		margin-top: 10px;
		width: fit-content;
	}
	.list-subject, .inner-shadow{
		width: 100%;
		padding: 0;
		padding-bottom: 10px;
	}
	.block-list-subject, .block-graph{
		padding: 40px 0 40px 0;
		width: 90%;
	}
	.journal-btns {
		padding: 40px 10px;
	}
	.journal {
		max-width: 250px;
		min-width: 200px;
		margin-bottom: 40px;
	}
	
}

/* 6. media height 700px */
@media all and (max-height: 600px) {
	.auth-block {
		margin-top: 20px;
		margin-bottom: 50px;
	}
}